@model AowCore.AppWeb.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Areas/MyBooks/Views/Shared/_Layout.cshtml";
}

<h1>DashBoard</h1>
<label>@Model.CompanyName</label>
<label>@Model.FyrName</label>

