@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Accounting On Web</h1> <h2> Online Accounting Solution.</h2>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

@*<form>
        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GJ7X1O0Zy1zwc5"></script>
    </form>*@

<div class="jumbotron">
    <div class="text-justify">
        <p>
            User can create and maintain all types of vouchers.
            <br />
            <div class="row">

                <div class="col-md-4">
                    <ul>
                        <li>
                            Sale Invoice
                        </li>
                        <li>
                            Sale Return
                        </li>
                        <li>
                            Credit Note
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            Purchase Bill
                        </li>
                        <li>
                            Purchase Return
                        </li>
                        <li>
                            Debit Note
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            Jorurnal Entry
                        </li>
                        <li>
                            Payment
                        </li>
                        <li>
                            Receipt
                        </li>
                    </ul>
                </div>
            </div>
        </p>
        <p>
            Reports
            <br />
            <div class="row">

                <div class="col-md-6">
                    <ul>
                        <li>
                            By Ledger (Customer , Supplier , Cash etc)
                        </li>
                        <li>
                            All Reports By Voucher (Sale / Purchase To From by Date Report)
                        </li>
                        <li>
                            Stock / Store Reports
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>
                            Bank Reconcilation
                        </li>
                        <li>
                            Trial Balance
                        </li>
                        <li>
                            Balance Sheet
                        </li>
                    </ul>
                </div>

            </div>
        </p>
    </div>
</div>

<div class="row">

    <div class="col-md-6">

        <p>
            E-Accouting , is the single most effective way to increase the productivity of your bussiness ,
            Can run accross all borders  worldwide in every possible way.
        </p>

        <p>
            We offer you to create multiple companies with multiple branches , with multiple financial years.
            Your Company data will be highly secure and protected in highly secure servers. So you never loose your data in any circumtances.
            No one access your company data without proper roles and login crediantials.
        </p>




    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ms5A3bCvuwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <h4 id="taxes">Steps To Start Working on Accounting on Web Portal</h4>
        <p>1) Register (SignUp) ,Verify your Email.</p>
        <p>2) Login</p>
        <p>3) Create Company , Click on Company on top menu then create company . company/create</p>
        <p>
            4) Go to Company Detail by Click on company then click company <b> detail</b> button.
            Company/Detail
        </p>
        <p>5) Add Finiancial Year . Under Company Detail. </p>
        <p>6)Click On Company Details And Select Financial Year .</p>
        <p>7)Click on (Go To Company Accounts) to start Accounting . </p>
        <p>8)Now you are in your book and Welcome to Accounting on web Accounting Portal.</p>

    </div>
    <div class="col-md-6">
        <h4>Welcome to your company book Accounting portal</h4>
        <p>
            1) Click on Accounts(Left SideBar button) , Some Accounts are pre configured like expense and income accounts. You can add more accounts with repective Category.
        </p>
        <p>
            2)To Add Customers and Suppliers(Vendors)  Click on Contact (Left SideBar button), Select Customer or supplier .Name , Email are required mandetory.
        </p>

    </div>
</div>